<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>All Articles:</h1>
  <% if logged_in? %>
  <%= link_to "Create New Article", new_article_path, class: 'new_article' %>
  <% end %>
  <ul>
    <% @articles.each do |article| %>
      <li> <%=link_to article.title, article_path(article.id) %></li>
    <% end %>
  </ul>
</body>
</html>